/*...........................................Main Styling*/
.background {
    background-color: #081354;
    color: white;
    text-align: center;
}

#pop-up {
    display: none;
    position: absolute;
    height: 50px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    height: auto;
    text-align: center;
}

/*............................................Music Banner*/

.music {
    text-align: center;
}

/*............................................Buttons*/
#addNumber {
    color: green;
    background-color: white;
    border: none;
}

#removeNumber {
    color: red;
    background-color: white;
    border: none;
}

.averagesbutton {
    background-color: yellow;
}