/*...........................................Main Styling*/
.yellow-background {
    background-color: yellow;
    color: #081354;
    position: relative;
}

#image {
    position: absolute;
    top: -5px;
}

.center {
    text-align: center;
}

.background {
    background-color: #081354;
    color: white;
    text-align: center;
}

#refresh:hover {
    cursor: pointer;
}

.input {
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#refresh {
    float: right;
}

.right {
    text-align: right;
    margin-bottom: 0px;
}

#remember {
    font-size: 12px;
}

#pop-up {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: yellow solid 2px;
    border-radius: 5px;
    height: auto;
    text-align: center;
}

#alternative-pop-up {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: red solid 2px;
    border-radius: 5px;
    height: auto;
    text-align: center;
}

#no-mode {
    display: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: yellow solid 2px;
    border-radius: 5px;
    height: auto;
    text-align: center;
}

#exit:hover {
    cursor: pointer;
}

/*............................................Buttons*/
#addNumber {
    color: green;
    background-color: white;
    border: none;
}

#removeNumber {
    color: red;
    background-color: white;
    border: none;
}

.averagesbutton {
    background-color: yellow;
    color: #081354;
}